@import "theme/child_theme_variables";  // <--------- Add your variables into this file. Also add variables to overwrite Bootstrap variables here
@import "assets/bootstrap4";// <--------- Loads Bootstrap3 or Bootstrap4. Change from /bootstrap3 to /bootstrap4 Watch out! just for testing in the moment!
@import "../src/sass/understrap/understrap/understrap";// <-------- Loads the UnderStrap defaults. Just a few classes to incorporate BS in WP
@import "../src/sass/understrap/theme/contact-form7";// <-------- Loads some basic styling for contact form 7 plugin

//Optional files - If you don´t use the corresponding scripts/fonts comment em out
@import "assets/font-awesome"; // <------- Font Awesome Icon font
@import "assets/underscores"; // <------- Underscores media styles



@mixin remove-margin-padding {
  margin: 0;
  padding: 0;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin transition($duration,$second-duration:false) {
    -webkit-transition: $duration,$second-duration !important;
    -moz-transition: $duration,$second-duration !important;
    -ms-transition: $duration,$second-duration !important;
    -o-transition: $duration,$second-duration !important;
    transition: $duration,$second-duration !important;
}

@mixin box-shadow($top, $left, $blur, $radius, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $radius $color;
    -moz-box-shadow:inset $top $left $blur $radius $color;
    box-shadow:inset $top $left $blur $radius $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $radius $color;
    -moz-box-shadow: $top $left $blur $radius $color;
    box-shadow: $top $left $blur $radius $color;
  }
}

@mixin remove-focus-color {
  outline: none;
  // border:0;
  -webkit-box-shadow: 0px 0px 0px 0px transparent !important;
  -moz-box-shadow: 0px 0px 0px 0px transparent !important;
  box-shadow: 0px 0px 0px 0px transparent !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin skew($x, $y) {
  -webkit-transform: skew($x, $y);
     -moz-transform: skew($x, $y);
      -ms-transform: skew($x, $y);
       -o-transform: skew($x, $y);
          transform: skew($x, $y);
}

@mixin linear-gradient($from, $to, $direction:top) {
  @if $direction == "top" {
    background: $to;
  	background: -moz-linear-gradient(top, $from 0%, $to 100%);
  	background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  	background: -o-linear-gradient(top, $from 0%,$to 100%);
  	background: linear-gradient(to bottom, $from 0%,$to 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
  }@else if $direction == "bottom" {
    background: $to;
  	background: -moz-linear-gradient(bottom, $from 0%, $to 100%);
  	background: -webkit-linear-gradient(bottom, $from 0%,$to 100%);
  	background: -o-linear-gradient(bottom, $from 0%,$to 100%);
  	background: linear-gradient(to top, $from 0%,$to 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$to}, endColorstr=#{$from})
  }@else if $direction == "left" {
    background: $to;
  	background: -moz-linear-gradient(left, $from 0%, $to 100%);
  	background: -webkit-linear-gradient(left, $from 0%,$to 100%);
  	background: -o-linear-gradient(left, $from 0%,$to 100%);
  	background: linear-gradient(to right, $from 0%,$to 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#{$from}, endColorstr=#{$to})
  }@else if $direction == "right" {
    background: $to;
  	background: -moz-linear-gradient(right, $from 0%, $to 100%);
  	background: -webkit-linear-gradient(right, $from 0%,$to 100%);
  	background: -o-linear-gradient(right, $from 0%,$to 100%);
  	background: linear-gradient(to left, $from 0%,$to 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#{$to}, endColorstr=#{$from})
  }
}

@mixin Mask-image($url) {
  -webkit-mask-image: url($url);
  -o-mask-image: url($url);
  -moz-mask-image: url($url);
  mask-image: url($url);
}

@mixin Mask-image-repeat($val) {
  -webkit-mask-repeat: $val;
  -o-mask-repeate: $val;
  -moz-mask-repeat: $val;
  mask-repeat: $val;
}

@mixin Mask-image-size($x:unset,$y:unset) {
  @if $x == "contain" {
    -webkit-mask-size: $x;
    -o-mask-repeate: $x;
    -moz-mask-repeat: $x;
    mask-repeat: $x;
  }@else{
    -webkit-mask-size: $x $y;
    -o-mask-repeate: $x $y;
    -moz-mask-repeat: $x $y;
    mask-repeat: $x $y;
  }
}


// Any additional imported files //
@import "theme/child_theme";  // <--------- Add your styles into this file
@import "theme/header";
@import "theme/main_menu";
@import "theme/hacks";

@import "theme/partials/description_first-style";
@import "theme/partials/description_second-style";
@import "theme/partials/horizontal_media_list";
@import "theme/partials/vertical_media_list";
@import "theme/partials/location_map";
@import "theme/partials/corp_selector";
@import "theme/partials/offers";
@import "theme/partials/testimonials";
@import "theme/partials/complex_selector";
@import "theme/partials/floor_selector";
@import "theme/partials/floor_map";
@import "theme/partials/apartments_filter";
@import "theme/partials/apartments_list";
@import "theme/partials/counter";
@import "theme/partials/form";
@import "theme/partials/popup";
@import "theme/partials/galerie-foto";
@import "theme/partials/footer";

@import "theme/page-templates/page-contact";
@import "theme/page-templates/page-apartments";
@import "theme/page-templates/page-description";


html,body{
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: $content-font-size;
  background: $white-gray;
}

.partial{
  padding-top: $large-grid-spacing;
  padding-bottom: $large-grid-spacing;
  margin-bottom: $grid-spacing;
  margin-top: 0;
  &:nth-of-type(1){
    margin-top: $grid-spacing;
  }
  // h2{
  //   @include media-breakpoint-down(sm) {
  //     text-align: center;
  //   }
  // }
}

.bg-white{
  background: $white;
  border-bottom: $thin-border;
}

h1,h2,h3{
  font-family: 'Raleway', sans-serif;
}

h1,h2{
  font-weight: 600;
}

h1{
  color: $black;
  font-weight: bold;
  font-size: $title-x-medium-font-size;
  @include media-breakpoint-down(md) {
    font-size: $title-small-font-size;
  }
  text-transform: uppercase;
}

h2{
  color: $black;
  font-weight: bold;
  font-size: $title-medium-font-size;
  @include media-breakpoint-down(md) {
    font-size: $title-small-font-size;
  }
  text-transform: uppercase;
}

h3{
  font-size: $title-medium-font-size;
  @include media-breakpoint-down(md) {
    font-size: $title-small-font-size;
  }
}

a{
  &:hover,&:focus,&:active{
    text-decoration: none;
  }
}

.justify-content {
  text-align: justify;
}

.hided{
  display: none !important;
}

button.disabled{
  pointer-events: none;
  @include Opacity(0.6);
}

.page-title{
  margin:0;
  margin-bottom: $grid-spacing;
  @include media-breakpoint-down(lg) {
    margin-top: $small-space;
  }
  text-align: center;
  background: $dark-blue;
  .page-title__content{
    display: inline-block;
    padding: 0 $large-grid-spacing;
    color: $dark-blue;
    margin:0;
    background: $white-gray;
    z-index: 1;
    position: relative;
    // &.dark-blue{
    //   color: $dark-blue;
    // }
  }
}

.button{
    $padding-v: 3px;
    $padding-h: 10px;
    $border-width: 2px;
    font-weight: bold;
    border: 0;
    text-align: center;
    padding: $padding-v 10px;
    text-transform: uppercase;
    cursor: pointer;
    span{
      font-size: $content-font-size;
    }
    @include remove-focus-color();
    &:hover,&:focus,&:active{
      @include remove-focus-color();
    }
    a{
      background-color: transparent !important;
    }
    &.dark-button{
      background-color: $dark-blue;
      border:solid $border-width $dark-blue;
      color: $white;
      &:hover,&:focus,&:active{
        background-color: $light-blue;
        border:solid $border-width $light-blue;
      }
    }

    &.dark-button-contour{
      border:solid $border-width $dark-blue;
      background: transparent;
      color: $dark-blue;
      &:hover,&:focus,&:active{
        border-color: $light-blue;
        background-color: $light-blue;
        color: $white;
      }
    }

    &.light-button{
      background-color: $light-blue;
      border:solid $border-width $light-blue;
      color: $dark-blue;
      &:hover,&:focus,&:active{
        background: transparent;
        color: $light-blue;
      }
    }

    &.red-button{
      background-color: $red-highlight;
      border:solid $border-width $red-highlight;
      color: $white !important;
      &:hover,&:focus,&:active{
        border-color: $red;
        background: $red;
      }
    }

    &.light-button-contour{
      border:solid $border-width $white;
      background: transparent;
      color: $white;
      &:hover,&:focus,&:active{
        background-color: $white;
        color: $dark-blue;
      }
    }
}

a.link-button{
  // font-weight: bold;
  font-size: $content-small-font-size;
  text-decoration: underline !important;
  letter-spacing: initial;
  cursor:pointer;
  &:hover,&:focus,&:active{
    // font-weight: bold;
    text-decoration: none !important;
  }
}

.back-to-site-wp{
  text-align: center;
  margin: $large-space 0;
}
// BULLET LIST START
ul.bullet-list {
  list-style:none;
  padding: 0;
  li{
    &:before{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      content: "\f00c"; /* FontAwesome Unicode */

      font-family: FontAwesome;
      font-size: 0.8rem;

      background-color: $primary;
      color: $white;
      width: 1.2rem; /* same as padding-left set on li */
      height: 1.2rem;
      @include border-radius(1.2rem);
      margin-right: 0.5rem;
    }
  }
}
// BULLET LIST END

// CHECKBOX
span.wpcf7-list-item{
  margin-left:0 !important;
}

// SEPARATOR START
.thick-separator,.half-thick-separator{
  border: $thick-border;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.half-thick-separator{
  border: $half-thick-border;
}
// SEPARATOR END

// VERTICAL BLACK GRADIENT START
.vertical-black-gradient{
  position:relative;
  &,&:after{
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  img{
    display:block;
    padding-top: 0;
    padding-bottom: 0;
  }
  &:after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:inline-block;
    @include linear-gradient(rgba(0,0,0, 0.25),rgba(0,0,0, 0.7),top);
  }
}
// VERTICAL BLACK GRADIENT END

// BACKGROUND IMAGE SECTION START
// *section with image on background
.background-section__wrapper{
  width: 100%;
  height: 100%;
  .background-section__image{
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
// BACKGROUND IMAGE SECTION END
