.filter-menu__container{
  padding: $grid-spacing;

  .filter-menu__wrapper{
    text-align: center;
    width: 100%;

    span{
      font-size: $content-small-font-size;

      @include media-breakpoint-up(md) {
        margin-left: $medium-space;
      }
    }

    .filter-menu__nav{
      display: inline;

      @include media-breakpoint-down(md) {
        display:block;
      }

      a{
        margin: auto $small-space;
        font-size: $content-large-font-size;
        font-weight: bold;
        border-bottom: solid 4px transparent;
        cursor: pointer;
        color: $content-font-color;

        &:hover,&:active,&:focus,&.js-active{
          font-weight: bold;
          border-color: $black;
          color: $black;
        }
      }

      .filter-menu__nav--selected{
        font-weight: bold;
        border-color: $light-blue !important;
        color: $light-blue !important;
      }
    }
  }
}
