.apartment__wrapper{
  .apartment__row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $large-grid-spacing $grid-spacing;

    &.sold{
      pointer-events: none;
      .apartment__data{
        @include Opacity(0.1);
      }
      &:after{
        content: 'Vandut';
        position: absolute;
        display: inline-block;
        padding: 0px 20px;
        border-radius: 5px;
        font-weight: bold;
        font-size: $title-large-font-size;
        color: $pure-red;
        border: solid 3px $pure-red;
      }
      .apartment__picture-wp .img{
        // @include Opacity(0.2);
      }
    }

    @include media-breakpoint-down(md) {
      margin: 0;
    }

    border: $thin-border;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px $light-shadow;

    .apartment__head-title{
      @include media-breakpoint-down(md) {
        margin-top: $large-grid-spacing;
      }
      margin-bottom: 0;
    }
    .apartment__head-info{
      font-weight: 400;
      margin-bottom: 0;
    }
    .apartment__picture{
      margin-bottom: $grid-spacing;
      height: 100%;
      padding: 0;
      img:nth-of-type(1){
        position: relative;
      }
      .img{
        padding:0;
        top:0;
        width: 100%;
        height: 100%;
        position: absolute;
        @include Opacity(0.7);
        @include Mask-image-size(contain);
        @include Mask-image-repeat(no-repeat);
        &.camere-1{
          background: $one-room-color;
        }
        &.camere-2{
          background: $two-rooms-color;
        }
        &.camere-3{
          background: $three-rooms-color;
        }
      }
      .map__compass-img{
        z-index: 1;
        margin-top: $grid-spacing;
      }
    }
    .apartment__data{
      .apartment__surface{
        p{
          display: inline;
          margin-bottom: 0;
        }

        h3{
          display: inline;
          float: right;
        }

        .apartment__surface-all{
          font-size: $content-xlarge-font-size;
          font-weight: 600;
        }
        .apartment__surface-details{

          strong{
            font-weight: 600;
          }
          p{
            display: block;
          }
          @include media-breakpoint-up(md) {
            padding-left: 0;
            padding-right: 0;
          }
          @include media-breakpoint-down(md) {
            margin-bottom: $large-grid-spacing;
          }
        }

        @include media-breakpoint-up(md) {
          p{
            display: block;
          }

          h3{
            display: block;
            float: left;
          }
        }
      }

      .apartment__button{
        width: 100%;
      }
    }
  }
}
.apartments__no-result{
  text-align: center;
  font-weight: 300;
  margin: $large-space 0;
  span{
    background: $red;
    padding: $grid-spacing;
    font-weight: bold;
    color: $white;
  }
}
