.complex-title__wp{
  display: inline-block;
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: left;
  }

  h2{
    color: $white;
    font-weight: 100;
    text-transform: uppercase;
    font-size: $title-x-large-font-size * 0.8;
    @include media-breakpoint-up(md) {
      font-size: $title-x-large-font-size;
    }
    padding: 0 $small-space;
    line-height: 100%;
    margin: 0;
    strong{
      font-weight: 800;
    }
  }
  .complex-title__firstline{}
  .complex-title__secondline{
    display: block;
    @include media-breakpoint-up(md) {
      display: table;
    }
    background: $dark-blue;
    color: $light-blue;
    font-weight: 800;
    margin-bottom: $small-space;
  }

  .button,.complex-title__secondline{
    position: relative;
    left:initial;
    @include media-breakpoint-up(md) {
      left: 25%;
    }
  }
}
.complex-title__wp.center{
  text-align: center;
  .button,.complex-title__secondline{
    left:initial;
  }
}




.complex-menu__container{
  padding-top: $grid-spacing/6 !important;
  padding-bottom: $grid-spacing/6 !important;

  .complex-menu__item{
    padding: 5px !important;
    min-height: 600px;
    cursor: pointer;
    .vertical-black-gradient{
      &:after {
          @include linear-gradient(rgba(0,0,0, 0.15),rgba(1, 19, 21, 0.8),top);
      }
    }
    &.hover-gradient:hover,&.hover-gradient:focus,&.hover-gradient:active{
      .vertical-black-gradient{
        &:after {
          @include linear-gradient(rgba(0, 166, 169, 0.5),rgba(1, 49, 51, 0.9),top);
        }
      }
    }

    &.disabled{
      pointer-events: none;
      @include Opacity(0.5);
    }

    .complex-menu__item-content{
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 100%;
      top:-100%;
      position: relative;


      .complex-menu__report{
        width: 100%;
        height: 50%;
        bottom: 0;
        position: absolute;

        .counter{
          .counter__head{
            font-size: $content-small-font-size;
            font-weight: 600;
            bottom: -5px;
            position: relative;
          }
          .counter__num{
            font-size: $title-medium-font-size;
            @include media-breakpoint-up(sm) {
              font-size: $title-large-font-size;
            }
            @include media-breakpoint-up(md) {
              font-size: $title-large-font-size;
            }
            @include media-breakpoint-up(lg) {
              font-size: $title-large-font-size * 0.8;
            }
            @include media-breakpoint-up(xl) {
              font-size: $title-large-font-size;
            }
          }
          .counter__desc{
            font-size: $content-small-font-size;
          }
        }

        .row{
          width: 100%;
          bottom: 0;
          position: absolute;
        }
      }
    }
  }
}
