.corp_selector__container-full-width {
  background-color: $white-gray;
  text-align: center;
}

.corp_selector__wrapper {
  color: $white;

  .corp_selector__title {
    padding: 0;
    margin-bottom: $grid-spacing;
    color: $dark-gray;
    p {
      font-weight: bold;
    }
    @include media-breakpoint-up(md) {
      padding-left: 0.25rem !important;
      padding-right: 0.25rem !important;
    }
  }
  .corp_selector__items-wp{
    // @include box-shadow(0px, 0px, 5px, 2px, $shadow-color);
    .corp_selector__item {
      background-color: $white;
      &.disabled{
        pointer-events: none;
        &:after{
          content: 'In curand';
          position: absolute;
          display: flex;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.9);
          top: 0;
          left: 0;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          color: $dark-blue;
          @include media-breakpoint-down(md) {
            font-size: 8px;
          }
        }
      }

      &:first-of-type{
        a{
          border-left: $thin-border !important;
        }
      }
      a{
        color: $dark-blue;
        width: 100%;
        height: 100%;
        border: $thin-border;
        border-left: 0 !important;
        .corp_selector__item-content {
          display: flex;
          justify-content: center;
          align-items: center;
          @include media-breakpoint-down(md) {
            font-size: $content-x-small-font-size;
          }
        }
        &:hover{
          background-color: $dark-blue !important;
          @include box-shadow(0px, 0px, 10px, 2px, $shadow-color);
          z-index: 1;
          color: $white !important;
          border-color: $dark-blue !important;
        }

        .corp_selector__item-number {
          font-weight: 800;
          font-size: $title-x-large-font-size;
          margin-bottom: 0.1rem;
          @include media-breakpoint-up(md) {
            font-size: $title-xxx-large-font-size;
          }
          line-height: 0.7;
        }
      }
    }
  }


  .corp_selector__item--selected {
    background-color: $light-blue !important;
    @include box-shadow(0,5px,5px,-3px,$shadow-color,true);
    a{
      border-color: $light-blue !important;
      color: $white !important;
    }
  }
}
