.counter{
  span,p{
    color: white;
    display: inline-block;
  }
  p{
    display: block;
    margin: 0;
  }
  .counter__head{
    font-size: $content-small-font-size;
    font-weight: 600;
    bottom: -5px;
    position: relative;
  }
  .counter__num{
    font-weight: bold;
    font-size: $title-large-font-size;
    line-height: 100%;
  }
  .counter__desc{
    font-size: $content-small-font-size;
  }
}


$progress-bar-thickness:8px;
.advanced-counter{
  width: 100%;
  margin:$small-space;
  .counter__num span{
    font-size: $title-medium-font-size !important;
  }
  .counter__desc{
    font-size: $content-font-size;
  }
  .available{
    color: $light-blue;
  }
  .counter__progress{
    span{
      width: 100%;
      height: $progress-bar-thickness;
      background: #001f1f;
      display: block;
      position: relative;
      margin: 0;
      border:0;
      padding: 0;
    }
    .counter__progress-available{
      background: $light-blue;
      top: -$progress-bar-thickness;
    }
  }


  // RED COUNTER
  &.one-room{
    .available{
      color: $one-room-color;
    }
    .counter__progress-available{
      background: $one-room-color;;
    }
  }

  &.two-rooms{
    .available{
      color: $two-rooms-color;
    }
    .counter__progress-available{
      background: $two-rooms-color;;
    }
  }

  &.three-rooms{
    .available{
      color: $three-rooms-color;
    }
    .counter__progress-available{
      background: $three-rooms-color;;
    }
  }
}
