.vertical-description-wrapper{
  background-color: $background-light-color;
}

.vertical-description-picture-wrapper{
  img{
      width: 100%;
  }
  text-align: center;
}

.vertical-description-picture{
  margin-bottom: $grid-spacing;
}

// .vertical-description-text-wrapper{
// }

// .vertical-description-text-title{
//   padding-top: 1rem;
//   margin: 0px;
// }

.vertical-description-text-list{
  list-style: none;
  li{
    margin-top:$small-space * 2;
    margin-bottom: $small-space * 2; 
  }
}
