.horizontal-description-wrapper{
  background-color: $background-light-color;
}

// .horizontal-description-picture{
//   padding-top: 1rem;
//   padding-bottom: 1rem;
// }
//
// .horizontal-description-text-wrapper{
//   padding-top: 1rem;
//   padding-bottom: 1rem;
// }

.horizontal-description-text-title{
  // font-size: $content-large-font-size;
}

.horizontal-description-text-content{
  font-size: $content-font-size;
}
