$floor-menu-top-offset: 40px;
$floor-menu-bottom-offset: 40px;
$floor-button-height: 70px;
$floor-button-margin-bottom: 2px;
$button-width: 80px;
$button-font-size: $title-large-font-size;

@mixin width_sum_calc($a,$b) {
  width: -webkit-calc(#{$a} + #{$b});
  width:    -moz-calc(#{$a} + #{$b});
  width:         calc(#{$a} + #{$b});
}

.floor-menu__container{
  background: $dark-blue;
  .floor-menu__tutorial-wp{
    background: $white-gray;
    position: relative;
    z-index: 5;
    .floor-menu__tutorial-text{

      height: 30px;
      // margin-top: -30px;
      text-align: center;
      font-weight: 600;
      color: $content-font-color;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .floor-menu__building-side{
    padding: 0 !important;
    .floor-menu__building-side-wrapper{
      display: flex;
      justify-content: left;
      align-items: flex-end;
      .floor-menu__nav{
        width: 100%;
        margin-top: $floor-menu-top-offset;
        margin-bottom: $floor-menu-bottom-offset;
        a{
          text-decoration: none;
          font-weight: bold;
          cursor:pointer;
          display: flex;
          align-items: center;
          font-size: $button-font-size;

          color: $white;
          background: rgba(0, 0, 0, 0.4);

          @include width_sum_calc(100%,$button-width);
          height: $floor-button-height;
          margin-bottom: $floor-button-margin-bottom;
          margin-left: -$button-width;
          padding-left: $button-width/2 - $button-font-size/4;

          &:hover,&:active,&:focus{
            background: rgba(26, 166, 168, 0.5);
          }
        }

        .floor-menu__nav--selected{
          background: rgba(26, 166, 168, 0.9) !important;
        }
      }
    }
  }
  &.disabled{
    .floor-menu__building-side{
      padding: 0 !important;
      .floor-menu__nav{
        pointer-events: none;
        a{
          color: rgba(255, 255, 255, 0.4) !important;
          background: rgba(0, 0, 0, 0.2);
          pointer-events: none;
          &:hover,&:active,&:focus{
            background: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
    .floor-menu__info-side{
        .floor-menu__complex-info--name, .floor-menu__complex-info--description{
          display: none;
        }
    }
  }

  .floor-menu__info-side{
    position: relative;
    width: 100%;
    // min-height: 600px;
    padding: $large-grid-spacing $button-width+$large-grid-spacing $large-grid-spacing $large-grid-spacing * 2;
    @include media-breakpoint-down(md) {
      padding: $large-grid-spacing $button-width+$grid-spacing $large-grid-spacing $large-grid-spacing ;
    }
    h2{
      text-align: left !important;
    }
    .floor-menu__complex-info{
      padding-right: $large-space;
      color: $white;
      p{
        margin-bottom: 0;
      }
      p:not(.floor-menu__complex-info--description){
        // margin-left: $grid-spacing;
      }
      @include media-breakpoint-down(md) {
        padding-right: 0px;
      }
      .floor-menu__complex-info--name{
        font-size: $title-medium-font-size;
        font-weight: 600;
        @include media-breakpoint-down(md) {
          font-size: $title-small-font-size;
        }
        color: $content-font-color-light;
        strong{
          font-weight: 800;
        }
      }
      .floor-menu__complex-info--description{
        color: $content-font-color-light;
        text-align: justify;
        margin-bottom: $grid-spacing/2;
        // font-weight: bold;
        @include media-breakpoint-down(md) {
          font-size: $content-small-font-size;
        }
      }
      .floor-menu__complex-info--location{
        font-size: $title-medium-font-size;
        font-family: 'Open Sans', sans-serif;
        margin-top: $grid-spacing !important;
        @include media-breakpoint-down(md) {
          font-size: $title-small-font-size;
        }
        color: $content-font-color-light;
        font-weight: 100;
        strong{
          font-weight: 800;
        }
        .js-corp-num,.js-etaj-num{
          font-weight: 600;
        }
      }
      .floor-menu__complex-info--avability{
        &,.counter{
          padding-left: 0;
        }
        max-width: 400px;
      }
    }
  }
}
