$opacity:0.9;

.floor-map__container{
  // display: none;
  // @include media-breakpoint-down(md) {
  //   display: none;
  // }
  background: $white;
  .floor-map__image-wp{
    display: flex;
    justify-content: center;
    align-items: center;

    .floor-map__image{
      padding: 0 !important;
      .floor-map__image-masks{
        @include Opacity($opacity);
        .img{
          padding: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          top:0;
          @include Mask-image-size(contain);
          @include Mask-image-repeat(no-repeat);

          &.camere-1{
            background: $one-room-color;
          }

          &.camere-2{
            background: $two-rooms-color;
          }

          &.camere-3{
            background: $three-rooms-color;
          }

          &.sold{
            // @include Opacity(0.2);
          }
        }
      }
      img:nth-of-type(1){
        position: relative;
        @include Opacity(1);
      }
    }
  }

  .floor-map__legend{
    text-align: left;

    .floor-map__title{
      margin-bottom: $grid-spacing;
      text-align: left;
      h3{
        margin-bottom: 0;
        font-size: $title-medium-font-size;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
      }
      @include media-breakpoint-down(md) {
        text-align: center;
      }

      a{
        position: relative;
        display: inline-block;
        top: -5px;
      }
    }



    ul{
      font-size: $content-small-font-size;
      @include media-breakpoint-down(md) {
        font-size: $content-x-small-font-size;
      }
      @include media-breakpoint-down(sm) {
        font-size: $content-small-font-size;
      }
      li{
        &:before{
          content:'' !important;
          background: $light-blue;
          color: $light-blue;
          display: inline-block;
        }
      }

      li.one-room{
        &:before{
          background: $one-room-color;
          color: $one-room-color;
        }
      }

      li.two-rooms{
        &:before{
          background: $two-rooms-color;
          color: $two-rooms-color;
        }
      }

      li.three-rooms{
        &:before{
          background: $three-rooms-color;
          color: $three-rooms-color;
        }
      }
    }
  }
}
