.footer-wrapper{
  background-color: $background-light-color;
  border-top: $thin-border;
  width: 100%;
  max-width: 100%;
  // margin-top: $large-grid-spacing !important;
  margin-bottom: 0 !important;
  padding: 0rem;
}

.footer-item{
  display:flex;
  justify-content:center;
  align-items:center;
}

.static-footer-logo{
  padding: 1rem;

  @include media-breakpoint-up(sm) {
    padding: 5rem;
  }
}

.footer-item-title{
  display: block;
}

.footer-text-separator{
  @include media-breakpoint-up(md) {
    max-width: 50%;
  }
}

.footer-item-text{
  font-size: $content-font-size;
  display: block;
}

.static-footer-copyright-icon{
  font-size: $content-font-size;
}

.footer-copyright-text{
  font-size: $content-font-size;
}
