input, textarea{
  border-radius: 0 !important;
}

label{
  font-weight: 500;
}

div.wpcf7 {
  .ajax-loader{
    position:absolute;
    margin-top: 10px;
  }
  .wpcf7-validation-errors,div.wpcf7-mail-sent-ng, div.wpcf7-aborted{
    margin:0;
    border:0;
    font-weight: 600;
    padding: 0;
    color: $red-highlight;
  }
  input{
    &[type=submit]{
      background: $light-blue;
      border: 0;
      font-weight: bold;
      color: $white !important;
    }
    &:disabled[type=submit],&.disabled[type=submit]{
      background: $light-blue;
      pointer-events: none;
    }
    &:hover[type=submit], &active[type=submit], &:focus[type=submit]{
      background: $dark-blue;
      border: 0 !important;
      @include box-shadow(0px, 0px, 0px, 0px, transparent);
      color: $white !important;
    }
  }
}
