.lightboxOverlay{
  background-color: $white !important;
  z-index: 999998 !important;
}
.lightbox{
  z-index: 999999 !important;
}
.lb-details{
  display: none;
}
.lb-dataContainer{
  margin-top: - (30px + $grid-spacing) !important;
}
.lb-data .lb-close {
  position: relative;
  z-index: 100;
  top: 30px + $grid-spacing;
  right: $grid-spacing;
}
.modula-gallery{
  margin-top: $grid-spacing;
}
