.horizontal-media-list-wrapper{
  background-color: $background-light-color;
  .horizontal-media-list-item{
    @include media-breakpoint-down(sm) {
      padding: 0 $grid-spacing;
    }

    @include media-breakpoint-up(md) {
      &:not(:first-child){
        padding-left: 0;
      }
    }

    .horizontal-media-list-content-picture{
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      width: 100%;
      // max-width: 130px;
      // max-height: 130px;
    }

    .horizontal-media-list-content-title{
      font-size: $content-large-font-size;
      font-weight: bold;
      margin: 0;
    }

    .horizontal-media-list-content-text{
      font-size: $content-small-font-size;
    }
  }
}
