.location-map__wrapper--background{
  background-color: $dark-blue;
  border-bottom: $thin-border;
  border-color: $black;

  h2, .location-map__container--color{
    color: $white;

    .location-map__address--color{
      color: #94aaab;
    }

    .location-map__separator--color{
      color: $gray;
      border: $thick-gray-border;
    }

    .location-map__separator--responsive-map{
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0;

      iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }

    .location-map__info--title{
      font-size: 30px;
      font-weight: bold;
      margin:0;
    }

    .location-map__info-separator--color{
      border: $thick-border;
    }

    .location-map__info--color{
      color: $content-font-color-light;
      font-size: $content-small-font-size;
    }

    .location-map__info--description{
      color: #94aaab;
    }
  }
}
