.offers__wrapper{
  @include media-breakpoint-up(md) {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
  }

  h2,h3{
    font-family: 'Open Sans', sans-serif;
  }
  .offers__title{
  }

  .offers__items-container{
    padding: $grid-spacing;
    .offers__item-wrapper{
      background-color: $background-light-color;
      border: none;
      padding: 0;
      margin-top: $grid-spacing;
      margin-bottom: $large-grid-spacing;
      margin-left: $large-grid-spacing;
      margin-right: $large-grid-spacing;
      @include media-breakpoint-down(lg) {
        margin-left: $grid-spacing;
        margin-right: $grid-spacing;
      }

      @include box-shadow(0px,1px,3px,0px, $shadow-color);
      &:hover,&:focus,&:active{
        @include box-shadow(0px,2px,8px,3px,rgba(0, 0, 0, 0.1));
      }
      .row{
        margin-bottom: $grid-spacing / 4;
      }

      .offers__picture{
        position: relative;
        @include Opacity(0.5);
      }

      &:hover,&:focus,&:active{
        .offers__picture{
          @include Opacity(1);
        }
      }

      .offers__item-title{
        font-weight: 600;
        font-size: $content-xlarge-font-size;
      }

      p{
        color: $medium-gray;
      }

      .offers__highline{
        background-color: $red;
        color: $white;
        padding-left: $grid-spacing;
        p{
          margin: 0;
          padding: .5rem;
          font-weight: 600;
          color: $white;
        }
      }

      .offers__surface-tag{
        font-weight: 500;
        display: inline;
      }

      .offers__surface-value{
        font-size: $content-xlarge-font-size;
        font-weight: 600;
        color: $dark-gray;
      }

      .offers__details{
        line-height: 0.5rem;
      }

      .offers__text--weight{
        font-weight: 500;
      }

      .offers__item_buttons-wp{
        button{
          width: 100%;
          &:first-of-type{
            margin-bottom: $grid-spacing;
          }
        }
      }
    }
  }
}
