.modal-dialog{
  @include media-breakpoint-down(md) {
    margin-top: 70px !important;
  }
}

.popup_pdf--wrapper{
  iframe{
    width: 100%;
  }
}

.modal-content{
  @include border-radius(3px);
  border:0;
  .modal-body{
    padding: 1rem 2rem;

  }
  .modal-header{
    background: $light-blue;
    @include border-radius(0px);
    .popup_form--title{
      margin-bottom: 0px;
      color: $white;
    }
    .modal-button__download{
      display: inline-block;
      text-decoration: underline;
      color: $white;
    }
    .close{
      text-shadow: 0 0 0 transparent;
      @include Opacity(1);
      @include remove-focus-color();
      color: $white;
    }
  }
}
