.testimonials__wrapper{
  background-color: $dark-blue;
  color: $white;
  h2{
    font-family: 'Open Sans', sans-serif;
    color: $white;
    margin: 0;
  }
  .testimonial_rotator_wrap{
    @include media-breakpoint-down(md) {
      margin: 0;
    }

  }
  .testimonial_rotator.template-longform hr.longform_hr{
    background: $light-blue;
    height: 5px;
  }
  .testimonial_rotator_prev,.testimonial_rotator_next{
    color: $light-blue;
  }
}
