.vertical-media-list-wrapper{
  background-color: $background-light-color;
  padding: $grid-spacing;

  .vertical-media-list-content{
    &:nth-of-type(1){
      border-top: 0;
    }
  }

  .vertical-media-list-content-wrapper{
    margin: auto;
    padding: $large-grid-spacing * 4;
    @include media-breakpoint-down(md) {
      padding: $large-grid-spacing;
    }

    .vertical-media-list-content-text{
      margin-top: $grid-spacing;
      font-size: $content-font-size;
      text-align: justify;
    }

    .vertical-media-list-content-button{
      margin-top: $grid-spacing;
    }
  }

  .vertical-media-list-content-picture{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
