// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

// -------------------------------Color system START
$black: #000000;
$white: #ffffff;

$light-blue: #1aa6a8;
$dark-blue: #013133;
$pure-red:#ff0000;
$red:#a8181c;
$red-highlight:#cc2226;
$orange:#dc6c05;
$yellow:#c7a20e;

// GRAY
$medium-black: #191919;
$dark: #2d2d2d;
$dark-gray:#3a3a3a;
$gray:#999999;
$medium-gray: #a3a3a3;
$light-gray:#dedede;
$white-gray:#eeeeee;
// -------------------------------Color system END


// -------------------------------CONSTANTS START
$primary: $light-blue;
$content-font-color: $dark;
$content-font-color-light: $white;
$background-dark-color: $white-gray;
$background-light-color: $white;

$content-xlarge-font-size: 20px;
$content-large-font-size: 16px;
$content-font-size: 14px;
$content-small-font-size: 12px;
$content-x-small-font-size: 10px;

$title-xsmall-font-size:10px;
$title-small-font-size:20px;
$title-medium-font-size:25px;
$title-x-medium-font-size:30px;
$title-large-font-size:35px;
$title-x-large-font-size:45px;
$title-xx-large-font-size:65px;
$title-xxx-large-font-size:75px;

$thin-border: solid 1px $light-gray;
$thick-border: solid 4px $light-blue;
$half-thick-border: solid 2px $light-blue;
$thick-gray-border: solid 4px rgba(0, 166, 169, 0.1);
$thin-red-border: solid 1px $red;
$thin-red-highlight-border: solid 1px $red-highlight;
$thin-dark-grey-border: solid 1px $dark-gray;

$small-space: 8px;
$medium-space: 16px;
$large-space: 24px;
$xxx-large-space: 80px;
$xxxx-large-space: 104px;

$grid-spacing: $small-space;
$large-grid-spacing: $large-space;

$light-shadow: #e6e6e6;
$shadow-color:rgba(0,0,0,.2);
// $shadow-color:box-shadow( 0,5px,10px,5px,#cccccc);
//template
$three-rooms-color: #1072bd;
$two-rooms-color:#94ce58;
$one-room-color:#8066a0;

// -------------------------------CONSTANTS END
