.page-title{
  margin:0;
  margin-bottom: $grid-spacing;
  @include media-breakpoint-down(lg) {
    margin-top: $small-space;
  }
  text-align: center;
  background: $dark-blue;

}
.floor-menu__tutorial-wp, .page-title .page-title__content{
      @include box-shadow(0,0,0,2px,$white-gray);
}
.container-fluid{
  &>.row{
    margin: 0;
  }
}

.custom-md-fluid{
  @include media-breakpoint-down(md) {
    width: 100%;
    max-width: none;
  }
}
