.info-nav-wrapper{
  // background-color: $background-light-color;
  background: $light-blue;
  border-bottom: $thin-border;
  border-color: #03c0c1;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
}

.info-nav-item{
  display:flex;
  justify-content:center;
  align-items:center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.info-nav-item-logo{
  height: 50px;
}

.info-nav-item-content-wrapper{
  height: 100%;
  display: inline-flex;

}

.info-nav-item-content-icon{
  color: $white;
  background-color: $dark-blue;

  line-height: 2rem;
  height: 2rem;
  width: 2rem;
  text-align: center;
}

.info-nav-item-content-text{
  vertical-align:middle;
  line-height: 1rem;
  color: $white;
}

.info-nav-item-content-text-title{
  font-size: $content-font-size;
  color: $dark-blue;
  font-weight: 600;
  width: 100%;
  display: block;
}

.info-nav-item-content-text-content{
  font-size: $content-small-font-size;
  // color: $dark-blue;
  font-weight: 300;
  width: 100%;
  display: block;
}

.menu-nav{
  background-color: $white;
  color: $dark-gray;
  margin: 0rem;
  padding: 0rem;
  border-bottom: $thin-border;
  margin-bottom: $grid-spacing;
}

.offer-bar{
  background: $red-highlight;
  color: $white;
  font-weight: bold;
  font-size: $content-small-font-size;
  padding: $grid-spacing / 2;
  // margin-top: $grid-spacing;
  margin-bottom: $grid-spacing;

  p{
    text-align: center;
    width: 100%;
    margin:0;
  }
}
