#menu_primary{
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  li{
    a{
      font-family: 'Raleway', sans-serif;
      color: $dark-gray;
      font-weight: 600;
      // letter-spacing: -0.5px;
      font-size: 13px;

    }
    &.active{
      background: $light-blue;
      &>a{
        color: $white;
      }
    }
    &:hover,&:active,&:focus{
      background: $dark-blue;
      // @include box-shadow(0px, 0px, 3px, 1px, $shadow-color);
      &>a{
        color: $white;
      }
    }
    &:active{
      background: $black;
    }
  }

  .dropdown-menu{
    @include border-radius(0);
    @include box-shadow(0px, 0px, 10px, 0px, $shadow-color);
    border:0;
    a{
      color: $dark-gray;
      &:hover,&:active,&:focus{
        background: $dark-blue;
        color: $white;
      }
      &:active{
        background: $black;
      }
    }

  }
   li ul {
    display: none;
  }

   li:hover ul {
    display: block;
  }
}




// SHIFTNAV MENU
.shiftnav.shiftnav-skin-light.shiftnav-nojs ul.shiftnav-menu li.menu-item > .shiftnav-target:hover,
.shiftnav.shiftnav-skin-light ul.shiftnav-menu.shiftnav-active-on-hover li.menu-item > .shiftnav-target:hover,
.shiftnav.shiftnav-skin-light ul.shiftnav-menu.shiftnav-active-highlight li.menu-item > .shiftnav-target:active{
  background: $light-blue !important;
}
.shiftnav-no-transforms.shiftnav-open .shiftnav.shiftnav-open-target.shiftnav-left-edge{
  @include box-shadow(0px, 2px, 10px, 0px, $shadow-color);
}
.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item ul.sub-menu .current-menu-item > .shiftnav-target{
  background: $light-blue !important;
  color: $white !important;
}
#shiftnav-toggle-main.shiftnav-toggle-main-entire-bar:before, #shiftnav-toggle-main .shiftnav-toggle-burger{
  background: $light-blue !important;
}
#shiftnav-toggle-main{
  @include box-shadow(0px, 2px, 10px, 0px, $shadow-color);
}
#shiftnav-toggle-main.shiftnav-toggle-main-align-center .shiftnav-main-toggle-content{
  height: 100%;
  padding: $grid-spacing;
  a{
    height: 100%;
    img{
      height: 90%;
    }
  }
}
.shiftnav-no-transforms .shiftnav-inner{
  padding-top: 0 !important;
  .shiftnav-nav{
    margin-bottom: $large-grid-spacing;
  }
  &>.info-nav-wrapper{
    .info-nav-item-content-text-title{
      color: $light-blue;
    }
    background: $dark-blue;
    border-bottom: 0;
    .info-nav-item{
      justify-content: flex-start;
      margin-bottom: $grid-spacing;
    }
    .info-nav-item-content-icon{
      background: $light-blue;
      line-height: 1.6em;
      justify-content: center;
      align-items: center;
    }
  }
}
.shiftnav.shiftnav-skin-light .shiftnav-site-title{
  padding: $grid-spacing !important;
  background: $light-blue;
  font-size: 0;
}
.shiftnav ul.shiftnav-menu li.menu-item>.shiftnav-target, .shiftnav ul.shiftnav-menu li.shiftnav-retract>.shiftnav-target{
  padding: $grid-spacing $grid-spacing * 2!important;
}
.shiftnav ul.shiftnav-menu, .shiftnav ul.shiftnav-menu ul.sub-menu{
  a{
    color: $black !important;
  }
}

.shiftnav ul.shiftnav-menu.shiftnav-indent-subs li.shiftnav-sub-always ul.sub-menu li.menu-item>a{
  padding-left: $grid-spacing * 3 !important;
}

.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item > .shiftnav-target{
  // font-weight: bold !important;
}

.shiftnav ul.shiftnav-menu li.menu-item.menu-item-has-children > .shiftnav-target:after{
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
