.complex-picture__container{
  padding: $grid-spacing/6 !important;
  padding-bottom: $grid-spacing/6 !important;
  .complex-picture__item{
    padding: 0;

    .complex-picture__item-content{
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
      min-height: 250px;
      width: 100%;
      top:-100%;
      position: relative;
    }
  }
}

.complex-info__wrapper{
  background-color: $background-light-color;
  .complex-info__data{
    height: 100%;
    padding: $large-grid-spacing;
    .counter{
      padding-top: $large-grid-spacing;
      padding-bottom: $large-grid-spacing;
    }
  }
  .complex-info__data--counters{
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bwg_slideshow_image_wrap_0{
  margin-left: auto !important;
  margin-right: auto !important;
}
