.page-template-page-contact{
  .contact-info{
    display: none;
  }
}

.page-contact__wrapper{
  .page-contact__company-data{
    display:flex;
    justify-content:center;
    // align-items:center;

    .page-contact__text-separator{
      @include media-breakpoint-up(md) {
        max-width: 50%;
      }
    }

    .page-contact__text{
      font-size: $content-font-size;
      margin: 0;
    }
  }

  .wpcf7-form{
    margin: $grid-spacing;
    @include media-breakpoint-down(md) {
      margin-bottom: $large-grid-spacing * 2;
    }
  }
}
